.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  font-family: "Roboto", sans-serif;
  margin: 0 0 15px;
  color: #3ddc97;
  font-size: 14px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.submit-button {
    position: relative;
}

.shrink-login-animation {
  opacity: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.login-button {
  position:relative;
  transition: all .5s ease-in-out, opacity 0.1s linear .45s, border-radius 0.3s linear .2s;
}

.loader {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: calc(50% - 25px);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border-top: 5px solid rgba(63, 193, 201, 0.2);
  border-right: 5px solid rgba(63, 193, 201, 0.2);
  border-bottom: 5px solid rgba(63, 193, 201, 0.2);
  border-left: 5px solid #3fc1c9;
  animation: lollipop 1.1s infinite linear;
  transition: opacity 0.1s ease .4s, visibility 0.1s ease .4s;
}

.loader-appear {
  opacity: 1;
  visibility: visible;
}

@keyframes lollipop {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
