@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.big-button{
  position: relative;
  background: none;
  width:360px;
  margin: 0 auto 100px;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.big-button button{
  max-width: 360px;
  max-height: 360px;
  min-width: 250px;
  min-height: 250px;
  width: 360px;
  height:360px;
  border-radius: 50%;
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
  font-size: 60px;
  text-transform: uppercase;
  font-style: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  transition: 0.5s;
  background-image: linear-gradient(to right, #3fc1c9 0%, #61ccd2 51%, #3fc1c9 100%);
  border: 0;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.big-button button:hover {
  background-position: right center;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.big-button-animation {
  animation: slide-out .5s ease;
  visibility: hidden;
  opacity: 0;
}

@keyframes slide-out {
    0% { transform: scale3d(1, 1, 1); opacity: 1; }
    100% { transform: scale3d(0, 0, 0); opacity: 0; }
}

.parrots {
    position: absolute;
    margin: auto;
    padding-top: 30px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

.parrots-appear {
  visibility: visible;
  opacity: 1;
}

.parrot-container {
  position: relative;
  padding:10px;
  width:220px;
  height:240px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: 2s; /* Safari */
  transition: 2s;
}

.parrot-container iframe {
  width: 100%;
  height:100%;
  outline: 0;
  border:0;
}

.parrot-animation {
  animation: pop-out 2s ease-in-out;
}

@keyframes pop-out {
  0% {transform: scale3d(0, 0, 1); opacity:0;}
  15% {transform: scale3d(0, 0, 1); opacity:1;}
  25% {transform: scale3d(0.75, 0.75, 0.75);}
  100% {transform: scale3d(1, 1, 1);}
}

.setup-buttons {
    width: 180px;
    margin: 0 auto;
    padding-left: 0px;
}

.button-animation {
  animation: pop-out .5s ease-in-out;
}

.setup-buttons button[name="stop-button"] {
  background-color: #efca43;
  color:#fff;
  font-family: 'Roboto Condensed', sans-serif;
  border: 0px;
  font-weight: bold;
  font-size:16px;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3s ease;
}

.setup-buttons button[name="stop-button"]:hover {
  background-color: #fff;
  color:#efca43;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
