@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.setting-page {
  width: 80%;
  padding: 2% 0 0;
  margin: auto;
}

.settings-container {
    margin: 0 auto;
    min-width: 759px;
    width: 60%;
    background: none;
}

/* Tabs and tab content styles */
input.tab-menu {
    height: 40px;
    visibility: hidden;
    display: none;
}

label.tab-menu {
    background: #f9f9f9;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #F7A703;
    text-transform: uppercase;
    line-height: 40px;
    margin-right: 4px;
    padding: 10px 32px;
}

input.tab-menu:hover + label.tab-menu {
	background: #ddd;
	color: #666;
}

input.tab-menu:checked + label.tab-menu {
	background: #fff;
	color: #444;
	position: relative;
	z-index: 3;
}

.tab-content {
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0 4px 4px 4px;
    min-height: 320px;
    min-width: 694.27px;
    width: 92%;
}

.tab {
    display: none;
    width: calc(100% - 50px);
    position:absolute;
}

.tab-content textarea {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  font-size: 18px;
  color: #424242;
  padding: 5px;
  text-align: left;
  width: 100%;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tab-content textarea:focus{
    border: 2px solid #3ddc97;
    outline: none;
}

.tab-content p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #424242;
}

.settings-container input#tab-1:checked ~ .tab-content #enter-message,
.settings-container input#tab-2:checked ~ .tab-content #group-message-settings,
.settings-container input#tab-3:checked ~ .tab-content #whitelist-settings,
.settings-container input#tab-4:checked ~ .tab-content #statistics {
    display: block;
}

input.visible {
  visibility: visible !important;
}

.save-reply-button {
  transition: all 0.5s ease;
}

.save-reply-animation {
  font-weight: bold;
  background-color: #3ddc97;
}

.save-reply-animation:hover {
  font-weight: bold;
  background-color: #3ddc97;
}

/* Toggle checkbox styles */
.toggle-container {
  float:right;
  display: block;
}


.toggle-container input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-container label {
  float:right;
	cursor: pointer;
	width: 65px;
	height: 36px;
	background: #e5e5e5;
	display: block;
	border-radius: 50px;
	position: relative;
}

.toggle-container label:after {
  float:right;
  content:'';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.toggle-container input:checked + label {
	background: #3ddc97;
}

.toggle-container input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

/* Settings table for group messages tab */
.settings-table {
  width:100%;
}

.settings-table td {
  border-bottom:1px solid #f6f6f6;
  padding:15px 0px;
  font-family: "Roboto", sans-serif;
  font-size:18px;
  color: #424242;
}


/* Settings tab regarding whitelist */
.whitelist {
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.whitelist input[type=text] {
  width: 100%;
  padding:30px 10px;
  font-size: 20px;
  font-style: medium;
  outline: none;
  border:0px;
  border-bottom:3px solid #f6f6f6;
  color: #424242;
  visibility: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.whitelist input[type=text]:focus {
  border-bottom:3px solid #3ddc97;
  color: #424242;
}

.whitelist input[type=text]:hover {
  border-bottom:3px solid #3ddc97;
  cursor: text;
}

.whitelist input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  position:absolute;
}

.whitelist label {
  height: 25px;
  display: block;
  border-bottom:1px solid #f6f6f6;
  padding:20px 10px;
  font-family: "Roboto", sans-serif;
  font-size:18px;
  color: #424242;
  background-color: none;
  transition: all 0.3s ease;
}

.whitelist input:checked + label {
  cursor: pointer;
  color: #fff;
  background-color: #F7A703;
}

.whitelist input:active + label {
  cursor: pointer;
  color: #fff;
  background-color: #F7A703;
}

.whitelist input:hover + label {
  cursor: pointer;
  font-weight: medium;
}

.whitelist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height:215px;
    overflow:auto;
}

.whitelist li {
  border-bottom:1px solid #f6f6f6;
}

.whitelist li.is-hidden {
    height: 0;
    font-size: 0;
    padding: 0;
    border: none;
    visibility: hidden;
}

/* Statistics */
td.stat-number {
  float:right;
}
