@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.setting-page {
  width: 80%;
  padding: 2% 0 0;
  margin: auto;
}

.settings-container {
    margin: 0 auto;
    min-width: 500px;
    width: 70%;
    max-width: 100%;
    background: none;
}

.settings-container input {
	height: 40px;
	visibility: hidden;
}

.settings-container label {
  background: #f9f9f9;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  display: block;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #F7A703;
  text-transform: uppercase;
  line-height: 40px;
  margin-right: 4px;
  padding: 3px 32px;
}

.settings-container input:hover + label {
	background: #ddd;
	color: #666;
}

.settings-container input:checked + label {
	background: #fff;
	color: #444;
	position: relative;
	z-index: 6;
}

.tab-content {
    position: relative;
    z-index: 5;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0 4px 4px 4px;
    min-height: 320px;
    width: 100%;
}

.tab {
    opacity: 0;
    z-index: -100;
    width: calc(100% - 50px);
    position:absolute;
}

.tab-content button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3fc1c9;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 15px;
}

.tab-content button:hover,.form button:active,.form button:focus {
  background: #96dde1;
  color: #FFF;
}

.tab-content textarea {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  font-size: 14px;
  color: #424242;
  padding: 5px;
  text-align: left;
  width: 100%;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tab-content textarea:focus{
    border: 2px solid #3ddc97;
    outline: none;
}

.tab-content p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #424242;
}


.settings-container input#tab-1:checked ~ .tab-content #enter-message,
.settings-container input#tab-2:checked ~ .tab-content #content-2,
.settings-container input#tab-3:checked ~ .tab-content #content-3 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}
